p {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  font-weight: bold;
}

.circle-content {
  padding: var(--card-padding);
  height: 3rem;
  width: 3rem;

  font-size: 1.2rem;
  color: #fff;
  border-radius: 50%;
}

.rectangle-content {
  height: 2rem;
  width: 10rem;
  border-radius: var(--border-radius);
}
