.page-title {
  h2 {
    font-size: 3rem;
    margin: 0;
  }

  h3 {
    font-size: 1rem;
    color: grey;
  }
}

.subtitle-toolbar {
  --min-height: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

.subtitle {
  display: block;
  padding: 0 16px 12px 16px;
  text-align: start;
}

.content {
  padding: 0 16px 16px 16px;
  display: grid;
  gap: 12px;
}
