.badge-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin: .5rem 0 1.5rem 0;

  padding: var(--card-padding);
  background-color: #f4f4f4;
  border-radius: var(--border-radius);

  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;

  .icon-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    padding: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  }

  ion-icon {
    font-size: 1.5rem;
    color: #fff;
  }

  .badge-content-text :first-child {
    font-weight: bold;
  }
}
