<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="batiments" href="/tabs/batiments">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Batiments</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carte" href="/tabs/carte">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Carte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="actions" href="/tabs/actions">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Actions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alertes" href="/tabs/alertes">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Alertes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
