@let property = property$ | async;
@let img = "https://ionicframework.com/docs/img/demos/card-media.png";

<ion-content [fullscreen]="true">
  @if (property) {
    <div
      class="img-container"
      [ngStyle]="{
        'background-image': `url(${img})`,
        'background-position': 'center',
        'background-size': 'cover'
      }">
      <div class="infos-above">
        <app-little-badge-component
          [backgroundColor]="OCCUPANCY[property.occupancy].color"
          [textColor]="OCCUPANCY[property.occupancy].textColor"
          [text]="OCCUPANCY[property.occupancy].label" type="rectangle" />
        <app-little-badge-component
          [backgroundColor]="ENERGY[property.energyRating].color"
          [textColor]="ENERGY[property.energyRating].textColor"
          [text]="ENERGY[property.energyRating].label" type="circle" />
      </div>

    </div>

    <div class="content ion-padding">
      <div class="property-infos-content">
        <h1>{{ property.name }}</h1>
        <h2>{{ property.city }}</h2>
        <p>{{ property.address }}</p>
        <p class="bold">{{ property.usage }} - {{ property.surface }}</p>
      </div>

      @if (property.description) {
        <div class="description-content">
          <p>Description</p>
          <p>{{ property.description }}</p>
        </div>
      }

      @if (property.complianceStatus) {
        <app-badge-component title="Niveau de conformité" [text]="property.complianceStatus" [icon]="complianceIconCheck(property.complianceStatus)"  />
      }

      @if (property.actions) {
        <app-actions-box [actionsList]="property.actions"/>
      }
    </div>
  }
</ion-content>
