@let property = property$ | async;
@let img = "https://ionicframework.com/docs/img/demos/card-media.png";

<ion-content [fullscreen]="true">
  @if (property) {
    <div
      class="img-container"
      [ngStyle]="{
        'background-image': `url(${img})`,
        'background-position': 'center',
        'background-size': 'cover'
      }">
      <div class="infos-above">
        <p class="occupancy-content"
           [style.background-color]="OCCUPANCY[property.occupancy].color"
           [style.color]="OCCUPANCY[property.occupancy].textColor">{{ OCCUPANCY[property.occupancy].label }}</p>
        <p class="energy-content"
           [style.background-color]="ENERGY[property.energyRating].color"
           [style.color]="ENERGY[property.energyRating].textColor">{{ property.energyRating }}</p>
      </div>

    </div>

    <div class="content ion-padding">
      <div class="property-infos-content">
        <h1>{{ property.name }}</h1>
        <h2>{{ property.city }}</h2>
        <p>{{ property.address }}</p>
        <p class="bold">{{ property.usage }} - {{ property.surface }}</p>
      </div>

      @if (property.description) {
        <div class="description-content">
          <p>Description</p>
          <p>{{ property.description }}</p>
        </div>
      }

      @if (property.complianceStatus) {
        <app-badge-component title="Niveau de conformité" [text]="property.complianceStatus" [icon]="complianceIconCheck(property.complianceStatus)"  />
      }

      @if (property.actions) {
        <div class="actions-content">
          <p>Action{{ property.actions.length > 1 ? 's' : null }} en cours</p>

          <div class="actions-items">
            @for (action of property.actions; track $index) {
              <div class="action-item">
                <div class="action-item-type">
                  <p>{{ action.type }}</p>
                  <ion-icon [icon]="speedometerOutline"></ion-icon>
                </div>
                <div class="action-item-status">
                  <p>{{ action.date }}</p>
                  <p>{{ action.status }}</p>
                </div>
              </div>
            }
          </div>
        </div>
      }
    </div>


  }
</ion-content>


<!-- TODO

 Changer ceci :
<p class="occupancy-content"
           [style.background-color]="OCCUPANCY[property.occupancy].color"
           [style.color]="OCCUPANCY[property.occupancy].textColor">{{ OCCUPANCY[property.occupancy].label }}</p>

En un <app-badge config=CONSTANTE value=property.x

-->
