.img-container {
  display: flex;
  align-items: end;
  justify-content: flex-end;

  padding: 1rem;
  height: 40%;

  p {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 1rem;
    height: 3rem;
    width: 3rem;

    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    border-radius: 50%;
  }
}
