.img-container {
  display: flex;
  align-items: end;

  padding: var(--card-padding);
  height: 40%;

  .infos-above {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;

    > p {
      display: flex;
      justify-content: center;
      align-items: center;

      margin: 0;
      font-weight: bold;
    }

    .energy-content {
      padding: var(--card-padding);
      height: 3rem;
      width: 3rem;

      font-size: 1.2rem;
      color: #fff;
      border-radius: 50%;
    }

    .occupancy-content {
      height: 2rem;
      width: 10rem;
      border-radius: var(--border-radius);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.property-infos-content {
  display: flex;
  flex-direction: column;
  gap: .7rem;

  h1, h2, p {
    margin: 0;
  }

  h1 {
    font-weight: bold;
    margin-bottom: .8rem;
  }

  h2 {
    color: #acacac;
    font-size: 1.2rem;
  }

  p {
    font-size: .9rem;
    color: #acacac;
  }
}

.description-content {
  text-align: justify;

  :first-child {
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.compliance-content {
  padding: var(--card-padding);
  background-color: #f4f4f4;
  border-radius: var(--border-radius);
}

.actions-content {
  background-color: #fff;
  border: 1px #f4f4f4 solid;
  border-radius: var(--border-radius);
  padding: var(--card-padding);

  > p {
    font-weight: bold;
    margin: 0 0 1rem 0;
  }

  .actions-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      margin: 0;
    }
  }

  .action-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: var(--card-padding);
    border: 1px #f4f4f4 solid;
    border-radius: var(--border-radius);
    background-color: #f3aaaa;
    color: #fff;
    font-weight: bold;
  }

  .action-item-type {
    display: flex;
    justify-content: space-between;
  }

  .action-item-status {
    display: flex;
    justify-content: space-between;
  }
}
