.img-container {
  display: flex;
  align-items: end;

  padding: var(--card-padding);
  height: 40%;

  background-position: center;
  background-size: cover;

  .infos-above {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  padding-bottom: 2rem;
}

.property-infos-content {
  display: flex;
  flex-direction: column;
  gap: .7rem;

  h1, h2, p {
    margin: 0;
  }

  h1 {
    font-weight: bold;
    margin-bottom: .8rem;
  }

  h2 {
    color: #acacac;
    font-size: 1.2rem;
  }

  p {
    font-size: .9rem;
    color: #acacac;
  }
}
